<div class="listitem">
  <div class="list-header">
    <%= link_to(club.name, club) %>
  </div>
  <div class="car-image">
    <%= link_to(image_tag(club.logo.url(:thumb)), club_path(club)) if club.logo %>
  </div>
  <div class="description">
    <%= shorten(club.description) %>
  </div>
  <hr class="clear" />
</div>
