<div class="listitem">
  <div class="list-header">
    <%= link_to(club.name, club_path(club)) %>
  </div>
  <div class="car-image">
    <%= image_tag(club.logo.url(:thumb)) %>
  </div>


  <hr class="clear" />
</div>
