<h1><%= @forum.name %></h1>
<p class="description"> <%= @forum.description %> </p>

<% @topics.each do |topic|%>
<%= link_to h(topic.title), topics_path(topic), :class => "title" %>

<% end %>

<%= will_paginate @topics %>
