<div id="multiupload">
  <% form_for :image, :url=>user_gallery_images_path(params[:user_id], params[:id]),
    :html => { :multipart => true } do |f| %>

    <% (1..5).each do |i| -%>
      <%= f.file_field :image, :size=>15, :class=>"fileuploader", :index => i %><br/>
    <% end -%>

    <%= submit_tag _('Save') %>
  <% end %>
</div>

<div id="toggle-upload"></div>

<script type="text/javascript">// <![CDATA[
  $(document).ready(function() {
    $("#toggle-upload").click(function() {
      $(this).hide();
      $("#multiupload").fadeIn();
    });
    
  });
</script>