<div class="grid_6 alpha">
  <div class="lightblue-block">
    <%= render :partial => 'layouts/newslist', :locals => { :news => @news }  %>
  </div>
</div>

<div class="grid_6 omega">
  <div class="lightblue-block">
    <%= render :partial => 'layouts/newslist', :locals => { :news => @news_by_hits }  %>
  </div>
</div>