<%= render :partial => "users/myblock", :locals => { :user => @user } %>

<div class="grid_9 omega" id="profile-right">
  <div class="orangebox">
    <h2>Current Friends</h2>
    <%= render :partial => 'friends/friends' %>

    <% if admin_or_current? @user %>
      <h2>Requested Friends</h2>
      <%= render :partial => 'friends/requested_friends' %>
      <h2>Pending Friends</h2>
      <%= render :partial => 'friends/pending_friends' %>
    <% end %>
  </div>
</div>