<h1>Admin::Front#index</h1>
<ul class="links">
  <li>
    <%= link_to _('Forums'), 'admin/forums' %>
  </li>

  <li>
    <%= link_to _('Users'), 'admin/users' %>
  </li>

  <li>
    <%= link_to _('Videos'), 'admin/videos' %>
  </li>

  <li>
    <%= link_to _('RSS news readers'), 'rssreaders' %>
  </li>
</ul>
