<%= render :partial => "users/myblock", :locals => { :user => @user } %>

<div class="grid_9 omega" id="profile-right">
  <div class="orangebox">
    <h3><%= @title %></h3>
    <% form_for(@advert, :url => marketplace_path(@advert)) do |f| %>
      <%= render :partial => "form", :locals => {:f => f} %>
    <% end -%>
  </div>
</div>