<div class="grid_9 alpha">
<h1><%= _("Marketplaces") %></h1>
</div>

<div class="grid_3 omega">
<%= link_to("Add advert", new_marketplace_path, :class => "newmarket login-required") %>
</div>

<div class="grid_12 alpha omega">

<% @adverts.each do |ad| %>
  <div class="listitem">
    <%= link_to ad.title, marketplace_path(ad) %>
  </div>
<% end %>
  
</div>