html {
  overflow-x:auto;
  overflow-y:scroll;
  background-color: #dcdcdc;
  background-image: url(../images/html.png);
  background-position: center top;
  background-repeat: repeat-y;
  height: 100%;
}

body {
  color:black;
  font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
  font-size:13px;
  background-color: #dcdcdc;
  background-image: url(../images/sitebg.png);
  background-position: center top;
  background-repeat: no-repeat;
  height: 100%;
}

a {
  color: #0a6091;
  text-decoration: none;
}
a:hover {
  color: #fa981b;
  text-decoration: underline;
}

input {
  background:transparent url(../images/form-text.png) repeat-x scroll 0 0;
  border-color:#727272 #929292 #929292;
  border-style:solid;
  border-width:1px;
}
input.error {
  border-color:#920000 #aa0000 #aa0000;
}
input:focus {
  border:1px dotted black;
}
input.error:focus {
  border-color:#ff0000;
  background: white;
}

input, textarea, select {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding: 1px;
  float: left;
}

/*
* Layout
*/
#header {
  height: 120px;
}
#content-wrapper {
  background: #ffffff url(../images/content-wrapper.png);
  margin:10px 0;
  padding:0 10px;
  position: relative;
}
#headcurve {
  background: url(../images/headcurve.png);
  height: 10px;
  margin: -10px -10px 0 -10px;
}
#footercurve {
  background: url(../images/footercurve.png);
  height: 10px;
  margin: 0 -10px -10px;
}
a#logo {
  width: 267px;
  height: 55px;
  background: url(../images/logo.png);
  display: block;
  margin-top: 10px;
  float: left;
}

/*
* Langswitcher
*/

#langswitcher {
  display: block;
  float: right;
  margin-top: 10px;
}
#langswitcher a.active {
  color: black;
}

/*
* Login block
*/
#loginblock {
  display: block;
  float: left;
  margin-top:20px;
}
#loginblock .form-item {
  float: left;
  margin-left: 10px;
}
#loginblock .form-item.text,
#loginblock .form-item.password {
  margin-top:-19px;
}
#loginblock .form-item.text input,
#loginblock .form-item.password input {
  width: 110px;
}
#loginblock .form-item.checkbox {
  display: none;
}
#loginblock input[type="submit"] {
  height: 20px;
  padding: 0 10px 3px 10px;
}
#loginblock a.register {
  margin-left: 10px;
}

/*
* Search bar
*/
#searchbar {
  display: block;
  width: 225px;
  height: 46px;
  background: #369ed9 url(../images/searchbar.png) no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer; cursor: hand;
  overflow: hidden;
}

/*
* Menu bar
*/
#menubar {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 39px;
}
#menubar ul {
  display: block;
  background: url(../images/menubg.png) repeat-x;
  height: 39px;
  margin: 0;
  width: 715px;
}
#menubar li {
  display: block;
  float: left;
  height: 39px;
  margin: 0;
  list-style: none;
}
#menubar li a {
  display: block;
  height: 47px;
  background: url(../images/menuitem-border.png) no-repeat top right;
  font-size: 20px;
  padding: 5px 10px 0;
  text-shadow: 1px 1px 1px #369fd9;
}
#menubar li {
  background: url(../images/menuitem.png) no-repeat -4px 0px;
}
#menubar li.first {
  background-position: top left;
}
#menubar li:hover {
  background-position: 0px -39px;
}
#menubar li:hover a {
  background-position: 100% -39px;
}
#menubar a:hover {
  text-decoration: none;
}


/*
* Table
*/

table th {
  vertical-align: top;
  padding-right: 10px;
  text-align: right;
}

table td {
  vertical-align: top;
  text-align: left;
}

table td.num {
  text-align: right;
  padding-right: 10px;
}

.btn, input[type="submit"], input[type="button"] {
  -moz-background-clip:border;
  -moz-background-inline-policy:continuous;
  -moz-background-origin:padding;
  -moz-border-radius-bottomleft:4px;
  -moz-border-radius-bottomright:4px;
  -moz-border-radius-topleft:4px;
  -moz-border-radius-topright:4px;
  -x-system-font:none;
  background:#DDDDDD url(../images/bg-btn.gif) repeat-x scroll 0 0;
  border-color:#DDDDDD #DDDDDD #CCCCCC;
  border-style:solid;
  border-width:1px;
  color:#333333;
  font-family:"Lucida Grande",Sans-serif;
  font-size:11px;
  font-size-adjust:none;
  font-stretch:normal;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:14px;
  margin:0;
  overflow:visible;
  padding:4px 8px 5px;
  text-shadow:1px 1px 0 #FFFFFF;
  width:auto;
}
.btn, input[type="submit"]:hover, input[type="button"]:hover {
  background-position:0 -6px;
  border-color:#999999 #999999 #888888;
  color:#000000;
}

label.error {
  background: url(../images/exclamation.png) no-repeat;
  padding-left: 16px;
  height: 16px;
  display: block;
  float:left;
}

.form-item hr {
  display: block;
  clear: left;
  margin: 0;
  visibility: hidden;
}

/*
* Comments
*/

.comment {
  border: 1px solid #888888;
  margin-bottom: 5px;
}

.comment .profile {
  width: 120px;
  display: block;
  float: left;
}

.comment.reply {
  display: none;
}

.comment .links {
  float: right;
}

hr.clear {
  display: block;
  clear: left;
  margin: 0;
  visibility: hidden;
}
.comment .indent {
  margin-left: 30px;
}
