html {
  overflow-x:auto;
  overflow-y:scroll;
}

body {
  color:black;
  font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
  font-size:13px;
}

input:focus {
  border:1px dotted black;
}

input {
  border:1px solid black;
  color: black;
  background-color: white;
  float: left;
}

input, textarea, select {
  font-family:inherit;
  font-size:100%;
  margin:0;
  padding:1px;
}

label.error {
  background: url(../images/exclamation.png) no-repeat;
  padding-left: 16px;
  height: 16px;
  display: block;
  float:left;
}

.form-item hr {
  display: block;
  clear: left;
  margin: 0;
  visibility: hidden;
}
