<%= render :partial => "users/myblock", :locals => { :user => @user } %>

<div class="grid_9 omega" id="profile-right">
  <div class="orangebox">
    <% form_for(@car, :url => user_boxes_path(:user_id => @user.id)) do |f| %>
      <%= render :partial => "form", :locals => {:f => f} %>
    <% end -%>
  </div>
</div>