<%= render :partial => "users/myblock", :locals => { :user => @user } %>

<div class="grid_9 omega" id="profile-right">
  <div class="orangebox">

    <% @combats.each do |combat|  %>
      <%= render :partial => "show_pair", :locals => {:combat => combat} %>
    <% end %>


  </div>
</div>
