
<div class="form-item"><label for="name"><%=_('Forum name')%></label><br/>
<%= form.text_field :name %><hr/></div>

<div class="form-item"><label for="description"><%=_('Description')%></label><br/>
<%= form.text_area :description %><hr/></div>