<div class="grid_9 alpha" id="layout-left">
  <div class="orangebox">

    <%= render :partial => "searchform" %>
    <% i=0 %>
    <% @cars.each do |car|
      i = i+1
    %>

      <%= render :partial => "carlistitem", :locals => {:car => car, :user => car.user, :i => i} %>

    <% end %>
  </div>
</div>

<div class="grid_3 omega" id="layout-right">
  <div class="lightblue block">
    <div class="block-header fix small">
      <span class="fejkep top5"></span>
      <h3><%= _("Top 5 cars") %></h3>
    </div>
    <% @top5.each do |car| %>
      <%= render :partial => "cars/top5item", :locals => {:car => car} %>
    <%end%>
    <hr class="clear"/>
  </div>
</div>