<%= @rssreader.url %>

<div class="lightblue-block">
  <%= render :partial => 'layouts/newslist', :locals => { :news => @rssreader.rssnews }  %>
</div>

<% if (current_user && current_user.has_role?('admin')) %>
  <%= link_to 'Edit', edit_rssreader_path(@rssreader) %> |
  <%= link_to 'Back', rssreaders_path %>
<% end -%>