<h1>Listing rssnews</h1>

<table>
  <tr>
  </tr>

<% @rssnews.each do |rssnew| %>
  <tr>
    <td><%= link_to 'Show', rssnew %></td>
    <td><%= link_to 'Edit', edit_rssnews_path(rssnew) %></td>
    <td><%= link_to 'Destroy', rssnew, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New rssnew', new_rssnew_path %>