<html>
<head>
  <meta HTTP-EQUIV="REFRESH" CONTENT="0;URL=<%= @red_url %>"/>
</head>
<body>
  Amennyiben b&ouml;ng&eacute;sz&#337;je nem k&ouml;veti automatikusan a linket, k&eacute;rj&uuml;k kattintson a k&ouml;vetkez&#337; c&iacute;mre:<br/>
  <a href="<%= @red_url %>" rel="nofollow"><%= @red_url %></a>
</body>
</html>
